body {
  font-family: Bahnschrift;
  color: #358467;
}
.searchText {
  color: whitesmoke;
  font-size: 1.2 rem;
  text-align: center;
}
.search-box {
  background-color: #2BAE66FF;
  padding: 3rem;
  margin-bottom: .5rem;
}
.footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  border-top: solid .2rem #2BAE66FF;
}
.message {
  color: #2BAE66FF;
  font-size: 2rem;
  margin-left: 1rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.food-name {
  color: #358467;
  font-weight: bold;
  font-size: 1.5rem;
}
.btn-style {
  border: solid .01rem #078282FF;
  background-color: #9ED9CCFF;
}
.nutri-container {
  border: solid .1rem #DCDCDC;
  margin-top: 2rem;
}
.container {
  border: solid .1rem #4eb85b;
  box-shadow: .2rem .2rem 0 #4eb85b;
  padding: 1.5rem;
}
.nutri-rows {
  height: 2.8rem;
  border-bottom: solid .1rem #DCDCDC;
  height: 2.9rem;
  padding-top: .5rem;
  color: #358467;
  font-size: 1rem;
}
.nutri-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: strong;
  background-color: #358467;
  color: #e8e8e8;
  height: 2.8rem;
  padding-top: .3rem;
}
.image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
.image img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: .2rem;
  border: solid .2rem #CCC;
  width: 25rem;
  height: 28rem;
}
.nutri-value {
  font-weight: normal;
  margin-left: 1rem;
}
.nutri-value {
  font-weight: normal;
  margin-left: 1rem;
}
.row-container {
  padding: 0 2rem 2rem 2rem;
}
@media only screen and (min-width: 768px) {
  .search-box {
    margin-bottom: 4rem;
  }
  .searchText {
    font-size: 2rem;
  }
  .footer {
    margin-top: 4rem;
  }
}