{% extends 'calorie/base.html' %}
{% block content %}
{% if search_result %}
  {% if search_result.success == False %}
  <p class="message"> {{ search_result.message }}</p>
  {% else %}
  <div class="container">
    <div class="row row-container">
      <div class="col-md-5">
        <div class="col-sm-12 text-center food-name">{{ search_result.name | capfirst}}</div>
        <div class="col-sm-12 ">
          <div class="image">
          <img src="{{ search_result.img.highres }}" alt="{{ search_result.name }}" alt="{{ search_result.name }}" class="img img-responsive full-width"/>
         </div>
        </div>
      </div>
      <div class="col-md-7 nutri-container">
        <div class="row  text-center">
          <div class="col-sm-12 nutri-header">Nutrition Facts</div>
        </div>
         <div class="row nutri-rows">
          <div class="col-12 col-sm-12 font-weight-bold">Serving Size: <span class="nutri-value">{{ search_result.serving_qty }} {{ search_result.serving_unit }}</span></div>
        </div>
        <div class="row nutri-rows">
          <div class="col-8 col-sm-6 font-weight-bold lead">Calories: </div>
          <div class="col-4 col-sm-6 text-right font-weight-bold lead">{{ search_result.calories }}</div>
        </div>
        <div class="row nutri-rows">
          <div class="col-12 col-sm-12 text-right font-weight-bold">% Daily Value</div>
        </div>
        <div class="row nutri-rows">
          <div class="col-8 col-sm-9 font-weight-bold">Total Fat: <span class="nutri-value">
            {% if search_result.total_fat == None %}
              {{ search_result.total_fat }}
            {% else %}
              {{ search_result.total_fat }}g
            {% endif %}</span></div>
          <div class="col-4 col-sm-3 text-right">{{ search_result.fat_daily_percent }} %</div>
        </div>
        <div class="row nutri-rows">
          <div class="col-8 col-sm-9"><div class="nutri-value font-italic">Saturated Fat: <span class="nutri-value">
            {% if search_result.sat_fat == None %}
              {{ search_result.sat_fat }}
            {% else %}
              {{ search_result.sat_fat }}g
            {% endif %}</span></div></div>
          <div class="col-4 col-sm-3 text-right">{{ search_result.sat_fat_daily_percent }} %</div>
        </div>
        <div class="row nutri-rows">
          <div class="col-8 col-sm-9 font-weight-bold">Cholesterol: <span class="nutri-value">
            {% if search_result.cholesterol == None %}
              {{ search_result.cholesterol }}
            {% else %}
              {{ search_result.cholesterol }}mg
            {% endif %}</span></div>
          <div class="col-4 col-sm-3 text-right">{{ search_result.cholesterol_daily_percent }} %</div>
        </div>
        <div class="row nutri-rows">
          <div class="col-8 col-sm-9 font-weight-bold">Sodium: <span class="nutri-value">
            {% if search_result.sodium == None %}
              {{ search_result.sodium }}
            {% else %}
              {{ search_result.sodium }}mg
            {% endif %}</span></div>
          <div class="col-4 col-sm-3 text-right">{{ search_result.sodium_daily_percent }} %</div>
        </div>
        <div class="row nutri-rows">
          <div class="col-8 col-sm-9 font-weight-bold">Total Carbohydrate: <span class="nutri-value">
            {% if search_result.total_carbohydrate == None %}
              {{ search_result.total_carbohydrate }}
            {% else %}
              {{ search_result.total_carbohydrate }}g
            {% endif %}</span></div>
          <div class="col-4 col-sm-3 text-right">{{ search_result.carbs_daily_percent }} %</div>
        </div>
        <div class="row nutri-rows">
          <div class="col-8 col-sm-9"><div class="nutri-value font-italic">Dietary Fiber: <span class="nutri-value">
            {% if search_result.dietary_fiber == None %}
              {{search_result.dietary_fiber }}
            {% else %}
              {{ search_result.dietary_fiber }}g
            {% endif %}</span></div></div>
          <div class="col-4 col-sm-3 text-right">{{ search_result.fiber_daily_percent }} %</div>
        </div>
        <div class="row nutri-rows">
          <div class="col-12 col-sm-12"><div class="nutri-value font-italic">Sugar: <span class="nutri-value">
            {% if search_result.sugar == None %}
              {{ search_result.sugar }}
            {% else %}
              {{ search_result.sugar }}g
            {% endif %}
            </span></div></div>
        </div>
        <div class="row nutri-rows">
          <div class="col-12 col-sm-12 font-weight-bold">Protein: <span class="nutri-value">{{ search_result.protein }}g</span></div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endif %}
{% endblock %}
