{% extends 'calorie/base.html' %}
{% block content %}
{% if search_result %}
 {% if search_result == False %}  
  <p class="message"> {{ search_result.message }}</p>
 {% else %}
  <div class="container">
	 <div class="row">
		<div class="col-sm">
		 <div class="col-sm-6">
			<div class="image">
			 <img src="{{ search_result.img.highres }}" alt="{{ search_result.name }}" class="img img-responsive full-width"/>
			</div>
		 </div>
		  <p> {{ search_result.name }}</p>
		</div>
	  <div class="col-md">
		 <div class="info-label">Nutrition Label</div>
		 <div class="nutri-row">
			 <div class="row">
				<div class="col-8 col-sm-6">Serving Size: {{ search_result.serving_qty }} {{ search_result.serving_unit }}</div>
			 </div>
			 <div class="row">
				<div class="col-8 col-sm-6">Calories</div>
				<div class="col-4 col-sm-6">{{ search_result.calories }}</div>
			 </div> 
			 <div class="row">
				<div class="col-8 col-sm-6"></div>
			  <div class="col-4 col-sm-6">% Daily Value</div>
			 </div>
			 <div class="row">
				<div class="col-8 col-sm-6">Total Fat {{ search_result.total_fat }}</div>
			  <div class="col-4 col-sm-6">{{ search_result.fat_daily_percent }}</div>
			 </div>
			 <div class="row">
				<div class="col-8 col-sm-6">Saturated Fat: {{ search_result.sat_fat }}</div>
				<div class="col-4 col-sm-6">{{ search_result.sat_fat_daily_percent }}</div>
			 </div>
			 <div class="row">
				<div class="col-8 col-sm-6">Cholesterol: {{ search_result.cholesterol }}</div>
				<div class="col-4 col-sm-6">{{ search_result.cholesterol_daily_percent }}</div>
			 </div>
			 <div class="row">
				<div class="col-8 col-sm-6">Sodium: {{ search_result.sodium }}</div>
				<div class="col-4 col-sm-6">{{ search_result.sodium_daily_percent }}</div>
			 </div>
			 <div class="row">
				<div class="col-8 col-sm-6">Total Carbohydrate: {{ search_result.total_carbohydrate }}</div>
				<div class="col-4 col-sm-6">{{ search_result.carbs_daily_percent }}</div>
			 </div>
			 <div class="row">
				<div class="col-8 col-sm-6">Dietary Fiber: {{ search_result.dietary_fiber }}</div>
				<div class="col-4 col-sm-6">{{ search_result.fiber_daily_percent }}</div>
			 </div>
			 <div class="row">
				<div class="col-8 col-sm-6">Sugar: {{ search_result.sugar }}</div>
			 </div>
			 <div class="row">
				<div class="col-8 col-sm-6">Protein: {{ search_result.protein }}</div>
			 </div>
			</div>
		 </div>
		</div>
	 </div>
	</div>
 {% endif %}
{% endif %}
{% endblock %}